.list {
  background-color: #4b4b4b;
  border: 1px solid #5b5b5b;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
