.btn {
  padding: 12px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  font-weight: bold;

  &-primary {
    background-color: #acc3a6;
    color: #1b1b1b;

    &:hover {
      background-color: #c2d3be;
    }
  }

  &-outline {
    border: 1px solid #acc3a6;
    color: #acc3a6;
  }

  .has-icon {
    padding-left: 8px;
  }
}
